@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


*{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: white;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: auto;
}



header{
    width: 960px;
    height: auto;
    text-align: center;
    line-height: 100px;
    margin: auto;
}


h1{
    font-size: 45px;
    color: #769087;
}
img{
    width: 180px;
    height: 240px;
}

div{
    background-color: antiquewhite;
    width: 250px;
    height: 350px;
    text-align: center;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 4%;
}

#container{
    display: none;
}
div:hover{
    filter:grayscale(75%)

}

section{
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-top: auto;
}
nav{
    width: 150px;
    background-color: aliceblue;
    height: 100px;
    margin: auto;
}
#selected{
        margin: auto;
        display: flex;
        align-items: center;
        color: #faebd7;
        background-color: #769087;
        width: 12%;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 2%;
       margin-bottom: 2%;
}
option{
    margin: auto;
    height: 100px;
}
footer nav{
    width: auto;
    color: #769087;
    
}
footer{
    margin: auto;
    clear: both;
    text-align: center;
}


header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    align-content: center;
    margin: auto;
    width: auto;
    column-gap: 30px;
    border-radius: 25px;
    background-color: #769087;
    justify-content: center;
}
button{
    width: 40%;
    border-radius: 30%;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
    justify-content: space-around;
    align-content: center;
    margin: auto;

}